<article class="message">
  <% if (locals.linkMessageDetails) { %>
    <a href="/message/<%= message.id %>" class="message-details-link">
  <% } %>
    <div class="message-header">
      <% const author = message.author || 'Anonymous' %>
      <p class="message-author" title="<%= author %>"><%= author %></p>
      <p class="message-time"><%= message.time.toLocaleString() %></p>
    </div>
    <p class="message-content"><%= message.content || 'No message content' %></p>
  <% if (locals.linkMessageDetails) { %>
    </a>
  <% } %>
</article>
